<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>クイズ生成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <h1>資料を読み込み問題生成・解説を行うシステム</h1>

    <form method="POST" enctype="multipart/form-data">
        <input
            type="file"
            id="fileInput"
            name="file"
            accept=".pdf,.pptx,.ppt"
            required
        >


        <label for="fileInput" class="custom-btn">ファイルを選択</label>


        <div class="file-display-box" id="fileNameBox">
            ファイルが選択されていません
        </div>


        <button type="submit" class="custom-btn2">
            問題を生成する
        </button>
    </form>


    <button id="nextpage" class="custom-btn2" style="display:none;">
        次のページへ
    </button>

    <div id="loading-overlay">
        <div class="spinner"></div>
        <p>問題を生成中です。しばらくお待ちください…</p>
    </div>

     <script>
        const fileInput = document.getElementById('fileInput');
        const fileNameBox = document.getElementById('fileNameBox');
        const loadingOverlay = document.getElementById('loading-overlay');
        const form = document.querySelector('form');


        fileInput.addEventListener('change', () => {
            if (fileInput.files.length > 0) {
                fileNameBox.textContent = fileInput.files[0].name;
            } else {
                fileNameBox.textContent = "ファイルが選択されていません";
            }
        });

        
        form.addEventListener('submit', () => {
            loadingOverlay.style.display = 'flex';
        });
    </script>
    

</body>
</html>
